.container {
    display: flex;
    flex-direction: column;
}

.wallpaper {
    width: 100vw;
    height: 30vw;
    object-fit: cover;
    object-position: center bottom;
}

.user {
    width: 25vw;
    height: 25vw;
    max-width: 250px;
    max-height: 250px;
    margin-top: -3rem;

    object-fit: cover;
    object-position: center;

    border: 0.5rem solid white;
    border-radius: 100%;

    align-self: center;

    transition: 2s;
}

@media (min-width: 1280px) {
    .wallpaper {
        height: 20vw;
    }

    .user {
        margin-top: -10rem;
    }

    .user:hover {
        width: 100vw;
        height: 100vw;
        max-width: 500px;
        max-height: 500px;
    }
}

@media (max-width: 1280px) {
    .user {
        margin-top: -5rem;
        width: 40vw;
        height: 40vw;
        max-width: 500px;
        max-height: 500px;
        border: 0.4rem solid white;
    }
}
